---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Habilidades from '../sections/Habilidades.astro';
---

<Layout title="Jh portafolio">
	<main>
      <Hero/>
      <Navbar/>
      <Habilidades/>
  </main>
</Layout>
