---
import { Icon } from "astro-icon/components";
---

<footer class="flex flex-row items-center justify-between h-[100px] bg-secondary bg-[url('/noise_light.png')] px-5">
  <h3 class="text-lg font-oswald text-primary flex flex-row items-center gap-2 "><Icon name="copyright" class="h-4 w-4" /> Jeferson Hernandez - 2024</h3>
  <div class="hidden text-primary flex-row gap-3 lg:flex">
    <a href="#" class="font-montserrat text-sm">Inicio</a>
    <a href="#" class="font-montserrat text-sm">Habilidades</a>
    <a href="#" class="font-montserrat text-sm">Proyectos</a>
  </div>
  <div class="hidden flex-row gap-3 lg:flex">
    <Icon name="github_solid" class="h-6 w-6" />
    <Icon name="linkedin" class="h-6 w-6" />
    <Icon name="twitter" class="h-6 w-6" />
    <Icon name="line" class="h-6 w-6" />
    <Icon name="mail" class="h-6 w-6" />
  </div>
</footer>