---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import SideMenu from "./SideMenu.astro"
import Photo from "../assets/photo.jpg"
---

<style>
  .is-pinned {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(53,47,68,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(53,47,68,1);
    box-shadow: 0px 4px 0px 0px rgba(53,47,68,1);
    }
</style>

<nav id="nav" class="sticky z-50 top-[-1px] bg-secondary bg-[url('/noise_light.png')] h-[100px] w-full flex flex-row items-center justify-between px-5 opacity-0 transition-opacity duration-700 delay-[2000ms]">
  <div class="flex flex-row items-center gap-4">
    <Image 
        src={Photo}
        alt="Personal photo"
        width="200"
        height="200"
        class="w-10 h-10 object-cover rounded-full"
    />
    <h5 class="text-primary text-lg font-semibold font-oswald">Jeferson Hernandez</h5>
    <Icon name="line" class="hidden h-6 w-6 lg:block" />
    <div class="hidden text-primary flex-row gap-3 lg:flex">
      <a href="#hero" class="font-montserrat text-sm hover:font-bold">Inicio</a>
      <a href="#abilities" class="font-montserrat text-sm hover:font-bold">Habilidades</a>
      <a href="#projects" class="font-montserrat text-sm hover:font-bold">Proyectos</a>
    </div>
  </div>
  <div>
    <Icon id="hamburger_icon" name="hamburger_icon" class="h-10 w-10 cursor-pointer lg:hidden" />
    <div class="hidden flex-row gap-3 lg:flex">
        <a href="https://github.com/Jeferson-Hernandez" target="_blank">
          <Icon name="github_solid" class="h-6 w-6 hover:scale-110 transition-transform duration-200" />
        </a>
        <a href="https://www.linkedin.com/in/jefer-hernandez/" target="_blank">
          <Icon name="linkedin" class="h-6 w-6 hover:scale-110 transition-transform duration-200" />
        </a>
        <a href="https://x.com/Blakintk" target="_blank">
          <Icon name="twitter" class="h-6 w-6 hover:scale-110 transition-transform duration-200" />
        </a>
        <Icon name="line" class="hidden h-6 w-6 lg:block" />
        <a href="mailto:jefry_2558@hotmail.com" target="_blank">
          <Icon name="mail" class="h-6 w-6 hover:scale-110 transition-transform duration-200"/>
        </a>
    </div>
  </div>
    <SideMenu/>
</nav>

<script>
  //https://davidwalsh.name/detect-sticky
  const nav = document.getElementById('nav');
  const sideMenu = document.getElementById('sideMenu');
  const hamburgerIcon = document.getElementById('hamburger_icon');

  window.addEventListener('load', () => {
    nav?.classList.remove('opacity-0')
  })

  hamburgerIcon?.addEventListener('click', () => {
      if(sideMenu)
        sideMenu.classList.toggle('translate-x-[100%]')
  })

  const observer = new IntersectionObserver(
    ([e]) => e.target.classList.toggle('is-pinned',
      e.intersectionRatio < 1),
      { threshold: [1] }
    )

  observer.observe(nav as Element)

    
</script>
