---
import { Icon } from "astro-icon/components"
---
<div id="sideMenu" class="fixed top-0 right-0 h-dvh w-[75%] md:w-[50%] translate-x-[100%] bg-secondary bg-[url('/noise_light.png')] rounded-l-lg transition-transform duration-500">
    <div class="flex flex-col items-center justify-around py-32 h-full">
        <div class="flex flex-col items-center gap-12">
            <a href="#hero" class="sideMenu_links font-montserrat text-xl border-b-2 border-transparent hover:border-primary transition-color duration-500">Inicio</a>
            <a href="#abilities" class="sideMenu_links font-montserrat text-xl border-b-2 border-transparent hover:border-primary transition-color duration-500">Habilidades</a>
            <a href="#projects" class="sideMenu_links font-montserrat text-xl border-b-2 border-transparent hover:border-primary transition-color duration-500">Proyectos</a>
        </div>
        <div class="flex flex-row gap-5">
          <a href="https://github.com/Jeferson-Hernandez" target="_blank">
            <Icon name="github_solid" class="h-7 w-7 hover:scale-110 transition-transform duration-200" />
          </a>
          <a href="https://www.linkedin.com/in/jefer-hernandez/" target="_blank">
            <Icon name="linkedin" class="h-7 w-7 hover:scale-110 transition-transform duration-200" />
          </a>
          <a href="https://x.com/Blakintk" target="_blank">
            <Icon name="twitter" class="h-7 w-7 hover:scale-110 transition-transform duration-200" />
          </a>
          <a href="mailto:jefry_2558@hotmail.com" target="_blank">
            <Icon name="mail" class="h-7 w-7 hover:scale-110 transition-transform duration-200" />
          </a>
        </div>
        <Icon id="close_icon" name="close" class="h-10 w-10 cursor-pointer absolute top-7 right-5"/>
    </div>
</div>

<script>
    const closeBtn =  document.getElementById('close_icon')
    const sideMenu =  document.getElementById('sideMenu')
    const sideMenuLinks = document.querySelectorAll('.sideMenu_links')

    closeBtn?.addEventListener('click', () => {
        sideMenu?.classList.toggle('translate-x-[100%]')
    })

    sideMenuLinks.forEach((link) => {
      link.addEventListener('click', () => {
        sideMenu?.classList.add('translate-x-[100%]')
      })
    })

    window.addEventListener('resize', () => {
      if (window.innerWidth > 1024) {
        sideMenu?.classList.add('translate-x-[100%]')
      }
    })
</script>
