---
import SectionTitle from "../components/SectionTitle.astro"
import { Icon } from "astro-icon/components";
import { PROJECTS } from "../consts/projects"
import ProjectCard from "../components/ProjectCard.astro"
---

<style>
  .swiper-slide {
    width: 320px;
  }

  .swiper {
      padding-top: 150px;
  }
</style>

<section id="projects" class="relative pb-48 pt-24">
  <SectionTitle title="Proyectos" reverse={true} />
  <div class="swiper h-[600px]">
    <div class="swiper-wrapper">
      {
        PROJECTS.map((project) => <div class="swiper-slide w-[320px]">
                <ProjectCard project={project}/>
            </div>
            )
      }
    </div>
  </div>
  <div class="flex flex-row items-center justify-center gap-20">
    <div class="prev-slide h-12 w-12 bg-secondary rounded-lg grid items-center justify-center cursor-pointer rotate-180 hover:scale-110 transition-transform duration-200"><Icon name="next" class="h-6 w-6"/></div>
    <div class="next-slide h-12 w-12 bg-secondary rounded-lg grid items-center justify-center cursor-pointer hover:scale-110 transition-transform duration-200"><Icon name="next" class="h-6 w-6"/></div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import { PROJECTS } from "../consts/projects"

  function removeSlideStyles(e: HTMLElement) {
      const projectCard = e.querySelector('#project_card')
      projectCard?.classList.remove('-translate-y-5')

      const techStack = e.querySelector('#tech')
      techStack?.classList.remove('translate-y-60')
      techStack?.classList.add('translate-y-7')
  }

  function buttonSlideState(e: Swiper) {
      if (e.activeIndex === 0) {
          document.querySelector('.prev-slide')?.classList.add('bg-gray-500')
          document.querySelector('.prev-slide')?.classList.remove('bg-secondary')
        } else if (e.activeIndex === e.slides.length - 1) {
          document.querySelector('.next-slide')?.classList.add('bg-gray-500')
          document.querySelector('.next-slide')?.classList.remove('bg-secondary')
        } else {
          document.querySelector('.next-slide')?.classList.remove('bg-gray-500')
          document.querySelector('.prev-slide')?.classList.remove('bg-gray-500')
          document.querySelector('.next-slide')?.classList.add('bg-secondary')
          document.querySelector('.prev-slide')?.classList.add('bg-secondary')
      }
  }

  new Swiper('.swiper', {
    modules: [Navigation],
    direction: 'horizontal',
    initialSlide: PROJECTS.length / 2,
    navigation: {
      prevEl: '.prev-slide',
      nextEl: '.next-slide',
    },
    slidesPerView: 'auto',
    spaceBetween: 100,
    centeredSlides: true,
      breakpoints: {
          680: {
              spaceBetween: 150
          },
          1024: {
              spaceBetween: 200
          }
      },
      on: {
          slideChange: function (e) {
              const active = e.slides[e.activeIndex]
              const projectCard = active.querySelector('#project_card')
              projectCard?.classList.add('-translate-y-5')

              const techStack = active.querySelector('#tech')
              techStack?.classList.add('translate-y-60')
              techStack?.classList.remove('translate-y-7')

              const prevSlide = e.slides[e.activeIndex - 1]

              if (prevSlide) {
                removeSlideStyles(prevSlide)
              }

              const nextSlide = e.slides[e.activeIndex + 1]

              if (nextSlide) {
                removeSlideStyles(nextSlide)
              }

              buttonSlideState(e)
        },
      }
  })
</script>
