---
import SectionTitle from "../components/SectionTitle.astro"
import { Icon } from "astro-icon/components";
import { PROJECTS } from "../consts/projects"
import ProjectCard from "../components/ProjectCard.astro"
---

<style>
  .swiper-slide {
    width: 350px;
  }

  .swiper {
    padding: 150px 0px 50px 0px;
  }
</style>

<section class="pb-48">
  <SectionTitle title="Proyectos" reverse={true} />
  <!-- <div class="flex flex-row justify-center items-center pt-20">
    {
      PROJECTS.map((project) => <ProjectCard project={project}/>)
    } -->
  <!-- </div> -->
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        PROJECTS.map((project) => <div class="swiper-slide"><ProjectCard project={project}/></div>)
      }
    </div>
  </div>
  <div class="flex flex-row items-center justify-center gap-10">
    <div class="prev-slide h-12 w-12 bg-secondary rounded-full grid items-center justify-center cursor-pointer rotate-180"><Icon name="next" class="h-6 w-6"/></div>
    <div class="next-slide h-12 w-12 bg-secondary rounded-full grid items-center justify-center cursor-pointer"><Icon name="next" class="h-6 w-6"/></div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';

  const swiper = new Swiper('.swiper', {
    modules: [Navigation],
    direction: 'horizontal',
    initialSlide: 2,
    navigation: {
      prevEl: '.prev-slide',
      nextEl: '.next-slide',
    },
    slidesPerView: 'auto',
    roundLengths: true,
    spaceBetween: 100,
    centeredSlides: true
  })
</script>