---
import SectionTitle from "../components/SectionTitle.astro"
import { Icon } from "astro-icon/components";
import { PROJECTS } from "../consts/projects"
import ProjectCard from "../components/ProjectCard.astro"
---

<style>
  .swiper-slide {
    width: 350px;
  }

  .swiper-slide-prev #tech > span{
      color: red;
      background: red;
  }

  .swiper {
      padding-top: 150px;
  }
</style>

<section class="pb-48">
  <SectionTitle title="Proyectos" reverse={true} />
  <div class="swiper h-[500px]">
    <div class="swiper-wrapper">
      {
        PROJECTS.map((project) => <div class="swiper-slide">
                <ProjectCard project={project}/>
            </div>
            )
      }
    </div>
  </div>
  <div class="flex flex-row items-center justify-center gap-20 pt-20">
    <div class="prev-slide h-12 w-12 bg-secondary rounded-lg grid items-center justify-center cursor-pointer rotate-180"><Icon name="next" class="h-6 w-6"/></div>
    <div class="next-slide h-12 w-12 bg-secondary rounded-lg grid items-center justify-center cursor-pointer"><Icon name="next" class="h-6 w-6"/></div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';

  function removeSlideStyles(e: HTMLElement) {
      const projectCard = e.querySelector('#project_card')
      projectCard?.classList.remove('-translate-y-5')

      const techStack = e.querySelector('#tech')
      techStack?.classList.remove('translate-y-60')
      techStack?.classList.add('translate-y-7')
  }

  new Swiper('.swiper', {
    modules: [Navigation],
    direction: 'horizontal',
    initialSlide: 2,
    navigation: {
      prevEl: '.prev-slide',
      nextEl: '.next-slide',
    },
    slidesPerView: 'auto',
    spaceBetween: 100,
    centeredSlides: true,
      on: {
          slideChange: function (e) {
              const active = e.slides[e.activeIndex]
              const projectCard = active.querySelector('#project_card')
              projectCard?.classList.add('-translate-y-5')

              const techStack = active.querySelector('#tech')
              techStack?.classList.add('translate-y-60')
              techStack?.classList.remove('translate-y-7')

              const prevSlide = e.slides[e.activeIndex - 1]

              if (prevSlide)
                  removeSlideStyles(prevSlide)

              const nextSlide = e.slides[e.activeIndex + 1]

              if (nextSlide)
                  removeSlideStyles(nextSlide)
          },
         reachBeginning: function () {
              const prevBtn = document.querySelector('.prev-slide')
          }
      }
  })
</script>
